<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    @include('partials/head')
</head>

<body class="bg-gray-50">
    <!-- sidenav  -->
    @include('partials/left-side')
    <!-- end sidenav -->
    <main class="md:ml-64 xl:ml-72 2xl:ml-72">
        <!-- Navbar -->
        @include('partials/navbar')
        <!-- end Navbar -->
        <div class="p-6 space-y-2">
            <div class='w-full rounded-xl h-fit mx-auto'>
                <div class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-4 lg:grid-cols-4 gap-4 p-2">
                    <!-- card1 -->
                    <a href="">
                        <div class="bg-red-500 p-6 rounded-lg shadow-xl">
                            <h1 class="text-2xl text-white font-bold"></h1>
                            <h1 class="text-xl font-light text-white text-right">Active</h1>
                        </div>
                    </a>
                    <!-- card2 -->
                    <a href="">
                        <div class="bg-blue-500 p-6 rounded-lg shadow-xl">
                            <h1 class="text-2xl text-white font-bold"></h1>
                            <h1 class="text-xl font-light text-white text-right">Product</h1>
                        </div>
                    </a>
                    <!-- card3 -->
                    <a href="">
                        <div class="bg-green-500 p-6 rounded-lg shadow-xl">
                            <h1 class="text-2xl text-white font-bold"></h1>
                            <h1 class="text-xl font-light text-white text-right">Chairs</h1>
                        </div>
                    </a>
                    <!-- card4 -->
                    <a href="">
                        <div class="bg-yellow-500 p-6 rounded-lg shadow-xl">
                            <h1 class="text-2xl text-white font-bold"></h1>
                            <h1 class="text-xl font-light text-white text-right">Top Seller</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>