<!DOCTYPE html>
<html lang="en">

<head>
    <title>Discount</title>
    @include('partials/head')
    <link href="//cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-50">
    <!-- sidenav  -->
    @include('partials/left-side')
    <!-- end sidenav -->
    <main class="md:ml-64 xl:ml-72 2xl:ml-72">
        <!-- Navbar -->
        @include('partials/navbar')
        <!-- end Navbar -->
        <div class="p-5">
            <div class='w-full rounded-xl bg-white h-fit mx-auto'>
                <div class="p-3">
                    <div class="flex justify-between">
                        <h1 class="font-extrabold text-3xl">Discount</h1>
                        <a class="p-2 bg-blue-500 rounded-xl text-white hover:text-black text-center"
                            href="{{ route('adddiscount') }}">Add
                            discount</a>
                    </div>
                </div>
                <div class="p-2">
                    <div class="overflow-auto">
                        <table id="myTable" class="bg-gray-50 border-2">
                            <thead class="w-full">
                                <tr>
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>Nama</th>
                                    <th>Percentage</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @each(item in discounts)
                                <tr class="border-2">
                                    <td></td> <!-- Placeholder for the index -->
                                    <td>{{ item.createdAt }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.percentage }} %</td>
                                    <td class="flex gap-2">
                                        <div class="w-full">
                                            <a href="{{ route('editdiscount', { id: item.id }) }}">
                                                <h1
                                                    class="p-2 text-white hover:text-black bg-blue-500 rounded-xl text-center">
                                                    Edit</h1>
                                            </a>
                                        </div>
                                        <div class="w-full">
                                            <a href="{{ route('deldiscount', { id: item.id }) }}">
                                                <h1
                                                    class="text-white hover:text-black text-center p-2 bg-red-500 rounded-xl">
                                                    Delete</h1>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                @endeach
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            let table = new DataTable('#myTable', {
                columnDefs: [
                    {
                        targets: 0, // Index of the 'No' column
                        render: function (data, type, row, meta) {
                            return meta.row + 1; // Auto-increment based on row index
                        },
                    },
                    {
                        targets: 1, // Index of the 'Date' column
                        render: function (data, type, row) {
                            var date = new Date(data);
                            return date.toLocaleDateString(); // Format the date as needed
                        },
                    },
                ],
            });
        });
    </script>

</body>

</html>