<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Category</title>
    @include('partials/head')
</head>

<body class="bg-gray-50">
    <!-- sidenav  -->
    @include('partials/left-side')
    <!-- end sidenav -->

    <main class="md:ml-64 xl:ml-72 2xl:ml-72">
        <!-- Navbar -->
        @include('partials/navbar')
        <!-- end Navbar -->
        <div class="p-5">
            <div class='w-full bg-white rounded-xl h-fit mx-auto'>
                <div class="p-3 text-center">
                    <h1 class="font-extrabold text-3xl">Edit category</h1>
                </div>
                <div class="p-6">
                    <form class="space-y-3" method="post"
                        action="{{ route('updatecategory', { id: category.id }) }}">
                        {{ csrfField() }}
                        <div class="space-y-2">
                            <label class="font-semibold text-black">Category:</label>
                            <input type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 p-2 rounded-lg w-full" id="name"
                                name="name" value="{{ category.name }}" required>
                        </div>
                        <button type="submit"
                            class="bg-blue-500 text-white p-2 w-fit hover:text-black rounded-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>